.StreetFoodPreview {
  flex: 0 0 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.streetfood {
  width: 400px;
  height: 400px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 20px;
  background-color: #F8C046;

  display: flex;
  justify-content: center;
  align-items: center;
}
.podnos {
  background: rgb(255, 75, 75);
  width: 380px;
  width: 380px;
  position: relative;
}
.price {
  background-color: rgb(204, 12, 12);
  border-radius: 1rem;
  padding: 0 1rem;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}