.CheckoutForm div {
     padding: .3rem 1rem;

}
.CheckoutForm div > label {
    font-size: 1.1rem;
    margin-right: 1rem;
     
}
.CheckoutForm div > input {
     font-size: 1.2rem;
     border-radius: 1rem;
     border: 1px solid lightgrey;
     padding-left: 1rem;
     
}
.CheckoutForm div >input:focus {
 outline: none;
 border-color: gray;
     
}