.StreetFoodControl {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .5rem 0;
}
.StreetFoodControl .ingredient div {
  position: static;
  margin: 0 .5rem;
}
.StreetFoodControl button {
  border: 0;
  margin: 0 .5rem;
  border-radius: 100%; 
  width: 2rem;
  height: 2rem;
  background-color: #fcc755;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}
.StreetFoodControl button:hover {
  background-color: #ffd209;
}
.StreetFoodControl button:focus {
  outline: none;
  cursor: pointer;
}