.Order{
     color: rgb(255, 188, 5);
     margin: 2rem;
     padding: 1rem;
     width: 15rem;
     font-size: 20px;
     border-radius: 10px;
     box-shadow: 0 0 20px rgb(0 0 0 / 50%);
   }
   /* .strong{
     color: green;
   } */