.BistroPreview {
  flex: 0 0 400px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  justify-content: center;
}
.bistro {
  width: 330px;
  margin-right: 1rem;
  margin-bottom: 1rem;
background-color: #ff9100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(234, 222, 57);
box-shadow: rgb(199, 189, 48) 18px 18px 36px 0px inset, rgb(255, 255, 66) -18px -18px 36px 0px inset;
-webkit-box-shadow: rgb(199, 189, 48) 18px 18px 36px 0px inset, rgb(255, 255, 66) -18px -18px 36px 0px inset;
border-radius: 19px;
-webkit-border-radius: 19px;
  /* border-radius: 10px;
  box-shadow: 0 0 10px black; */
}
.menus {
 
  position: relative;
}
.price {
  background-color: rgb(255, 217, 0);
  border-radius: 1rem;
  padding: 0 1rem;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}